/*****NEITHAN FONT*****/
@font-face {
  font-family: 'Neithan';
  src: url('Neithan.eot'); /* IE9 Compat Modes */
  src:   url('Neithan.woff2') format('woff2'), /* Super Modern Browsers */ url('Neithan.woff') format('woff'), /* Pretty Modern Browsers */
    url('Neithan.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/*****BASE STYLES*****/
body {
  font-family: 'Josefin Sans', sans-serif;
}
#about, #work, #contact {
  height: 600px;
}

/*****GRID*****/
.full-width {
    width: 1200px;
    margin: 0 auto;
}
.half-width {
    width: 600px;
    float: left;
}
.third-width {
    width: 400px;
    float: left;
}

/*****HEADER*****/
header {
    height: 800px;
    background: url('../img/hero-image-picc.jpg');
    background-size: cover;
}
header h1 {
    padding: 50px 0;
    color: #cf6184;
    font-family: 'Merriweather', serif;
    font-size: 25px;
}
nav{
    float: right;
    padding: 75px 40px;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: lighter;
    font-size: 21px;
    color: #5b8583;
    padding-left: 80px;
}
header h2{
    width: 1000px;
    clear: both;
    font-family: 'Neithan';
    font-weight: normal;
    font-size: 90px;
    line-height: 100px;
    color: #000000;
    padding: 55px 0;
}

header .font1{
    font-family: 'Merriweather', serif;
    font-size: 36px;
    color: #5c5c5c; 
    font-weight: normal;
    display: block;
    line-height:70px;
    padding-top: 0px;
}
header .bold{
    font-family: 'Merriweather', serif;
    font-size: 36px;
    color: #5c5c5c; 
    font-weight: bold;
    display: block;
    line-height: 70px;
}
header .pink{
    font-family: 'Merriweather', serif;
    font-size: 36px;
    color: #cf6184;
    display: block;
    line-height: 70px;
}

/*****ABOUT*****/
#about .full-width{
  padding: 100px 0;
}

#about h2{
  font-family: 'Merriweather', serif;
  font-size: 28px;
}
#about p{
  font-size: 22px;
  color: #7f7f7f;
  line-height: 45px;
  padding-right: 50px;
}

}
#mee-pic{
  margin: 30px 30px 0 0;
  padding-left: 15px;
}

/*****WORK*****/
#work {
    background-color: #f2b8c4;
    text-align: center;
}
#work .full-width {
    padding: 115px 0;
}
#work img {
    padding-bottom: 30px;
}
#work h3 {
    font-size: 28px;
    width: 190px;
    margin: 0 auto;
}
#work p {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    line-height: 30px;
    color: #262a2b;
    padding: 0 35px;
}

/*****CONTACT*****/
#contact{
    background-color: #e2dad8;
}
#contact .full-width {
    padding: 110px 0;
}
#contact-me-pic {
    border: 12px solid #ffffff;
}
#contact h2, #email-header, #socialmedia-header, #contact ul {
    padding-left: 115px;
}
#envelope-icon {
    padding: 0 10px 0 115px;
}
#contact h2{
    font-family: 'Merriweather', serif;
    font-size: 36px;
}
#email-header{
    font-size: 40px;
    font-weight: normal;
    margin: -30px 0 5px 0;
}
#socialmedia-header {
  font-weight: bold;
  font-size: 29px;
  margin: 40px 0 0 0;
}
#contact a {
    text-decoration: none;
    color: #5b8583;
    font-weight: bold;
    font-size:28px;
}
#contact ul{
    list-style: none;
}
#contact ul li {
    display: inline-block;
}
#contact ul img {
    padding-right: 48px;
}
